$media-query-tablet: 1024px;
$media-query-mobile: 768px;

$primary: #ff5c01;
$black: #111;
$secondary: #dedede;
$darkgray: #555;
$danger: #e42b01;
$white: #fff;
$light: #f5f5f5;
$gray: #999;
$yellow: #ffb73e;
$blue: #555;
$sky: #586dd5;
// mixin
@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin text-clamp($lines: 2, $line-height: false) {
  display: -webkit-box;
  overflow: hidden;
  /* autoprefixer: ignore next */
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $lines;
  @if $lines == 1 {
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  @if $line-height {
    max-height: $line-height * $lines * 1px;
  }
}

@mixin letter-spacing($letterspacing, $font-size) {
  word-spacing: (($letterspacing * $font-size) /1000) + px;
  letter-spacing: (($letterspacing * $font-size) /1000) + px;
}

@mixin mobile {
  @media (max-width: $media-query-mobile) {
    @content;
  }
  // .__w768 & {
  //   @content;
  // }
}

@mixin tablet {
  @media (max-width: $media-query-tablet) {
    @content;
  }
  // .__w1024 & {
  //   @content;
  // }
}
